.responsive-container {
    
    width: 100%;
}

.responsive-spacer-container {
    margin-left: 10px;
    border-radius: 14px;
}

@media (max-width: 1749px) {
    .responsive-container {
        width: 100%;
    }

    .responsive-spacer-container {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        max-width: 100%;
        height: 100%;
        margin-left: 0px;
    }

    .responsive-flex-container {
        flex-direction: column;
    }
}

#magenta path {
    transform: translate(17%, 12.5%) scale(0.8);
}

.settings_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(608px, 1fr));
    grid-gap: 1rem;
}

@media (max-width: 1749px) {
    .settings_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important;
        grid-gap: 1rem;
    }
}